{% extends "sopds_main.html" %}
{% load i18n %}

{% block ext-body %}
<div class="row">
<div class="small-12 medium-8 large-8 small-centered columns">
<h3 style="text-align:center;">{% trans "Hello" %} {% if user.is_authenticated %}{{ user.username }}{% endif %}{% if not user.is_authenticated %}{% trans "Guest" %}{% endif %} !</h3>
<p style="text-align:justify;">
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% trans "Lectern is a self-hosted OPDS catalog for your e-book library — a fork of the Simple OPDS (SOPDS) project. OPDS (Open Publication Distribution System) lets you access your collection over the network from e-readers, tablets, smartphones and other devices. More about the parent project can be found on its website:" %} <a href="http://www.sopds.ru/"> www.sopds.ru</a>.
</p>
</div>
</div>
{% endblock %}  {# body #}